body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a.delete {
	color: #aaa;
}

body {
	padding: 0;
    margin: 0;
}

iframe {
	border: none;
	width: 980px;
	height: 510px;
}

#files {
	max-width: 980px;
	margin: 0 auto;
}

.file {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #eee;
}

.file:last-child {
	border-bottom: none;
}

.right {
	float: right;
}