{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='block.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='code.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.css') }}">
{% endblock %}

{% block content %}
<div id="drop"></div>
<div id="files">
<p class="top">{% if block.title %}{{ block.title }}{% else %}{{ block._id }}{% endif %} <a href="{{ url_for('download', id=block._id) }}">(download)</a> <a class='right' href='/'>(home)</a></p>
{% if index %}
	<div class="file">
		<iframe src="{{ index.path }}" frameborder="0"></iframe>
		<a class='right' target='_blank' href="{{ index.path }}">open in new tab</a>
	</div>
{% endif %}
{% if readme %}
	<div class="file">
		{{ readme.content | markdown }}
	</div>
{% endif %}
{% for file in files %}
	<div class="file">
		<p><a href='{{ file.path }}'>{{ file.name }}</a>  <a href="{{ file.path }}" class="right delete">(delete) </a></p>
		<form action="{{ file.path }}" method="POST">
			<textarea name='content' class='code'>{{ file.content }}</textarea>
			<input type="submit" value='save'>
		</form>
	</div>
{% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='drag-add.js') }}"></script>
<script src="{{ url_for('static', filename='delete.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='block.js') }}"></script>
{% endblock %}
