{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<div id="drop">
	<div>
		<p>drop files here</p>
		<p><a href="">huh?</a></p>
	</div>
</div>
<div id="blocks">
	{% for block in blocks %}
	<a href="block/{{ block._id }}"><div class="block">
		<h4>{% if block.title %}{{ block.title }}{% else %}{{ block._id }}{% endif %}</h4>
		{% if block.thumbnail %}<img src="block/{{ block._id }}/{{ block.thumbnail }}" alt="">{% endif %}
	</div></a>
	{% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='drag.js') }}"></script>
{% endblock %}
